.jumbotron {
    background-image: url(../img/blackground.jpg);
    background-size: cover;
    background-position: 0 -100px;
    color: white;
    background-attachment: fixed;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

section {
    min-height: 450px;
}

.col-lg-4 {
    margin-bottom: 10px;
}

.row-lg-4 {
    width: 300px;
    height: 150px;
}

footer {
    color: white;
    background-color: rgba(46, 46, 46, 0.46);
}
